.login-logo > * {
  fill: mat-color($primary, 500);
}
.small-logo {
  fill: #fff; // mat-color($primary, 500);
}
.scale-logo {
  stroke: #fff;
}

.selectedListItem {
  border-left: 5px solid mat-color($seq-accent-color, 500);
}
.seq-menu-link.active {
  color: #83921A;
  .scale-logo {
    stroke: #83921A;
  }
}
.sidebar-hover-bar {
  background-color: mat-color($seq-accent-color, 400);
}
div.mat-calendar-body-selected {
  background-color: mat-color($seq-accent-color, 500);
}
.mat-drawer {
  background-color: #424242;
}
.mat-drawer-container {
  background-color: #303030 !important;
  color: #fff !important;
}
.tree-container, .hierarchy-tree {
  background: #262626;
}
mat-sidenav .mat-nav-list .mat-list-item {
  color: #fff;
}
mat-toolbar.mat-toolbar.mat-primary {
  background: #455560;
}
mat-pseudo-checkbox.mat-pseudo-checkbox::after {
  color: #fff;
}
.notificationBtn {
  color: #83921A !important;
}
.mat-checkbox-checkmark-path {
  stroke: #fff !important
}
.active-view>button {
  color: #83921A;
}

.highcharts-tracker-line {
  visibility: hidden !important;
}
.gaugeMarker {
  fill: #DF5353 !important;
  fill-opacity: 1 !important;
}

.primary-color {
  color: mat-color($primary, 500);
}

.accent-color {
  color: mat-color($accent, 500);
}